footer {
    padding: 120px 0 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 0 0 auto;
}

.footer-menu {
    &__links {
        display: flex;
        justify-content: center;
    }

    &__link {
        margin-right: 36px;
        a {
            color: #394b50;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.2s ease-in;
        }
        &:last-child {
            margin-right: 0;
        }
        a:hover {
            color: #ffc155;
        }
    }
}

.footer-phone {
    display: flex;
    justify-content: center;
    margin-top: 29px;

    .fa-phone {
        color: #394b50;
        font-size: 24px;
        margin-right: 7px;
        font-weight: 700;
        transform: translateY(2px);
    }
    a {
        color: #394b50;
        font-size: 20px;
        font-weight: 700;
    }
}

.footer-social {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .fa-social {
        cursor: pointer;
        font-size: 18px;
        margin-right: 12px;
        color: #709dca;
        transition: all 0.2s ease-in;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: #ffc155;
        }
    }
}

.footer-bottom {
    background-color: #709dca;
    padding: 17px 0 19px 0;
    margin-top: 52px;
    text-align: center;
    &__text {
        color: #fff;
        font-size: 13px;
        font-weight: 300;
    }
}
