.price {
    min-height: 800px;
    padding: 137px 0 150px 0;
    background-color: #e7edf3;
    &-title {
        color: #394b50;
        font-size: 35px;
        font-weight: 900;
        text-transform: uppercase;
    }

    &-subtitle {
        margin-top: 5px;
        color: #75888d;
        font-size: 15px;
    }

    &-wrapper {
        text-align: center;
    }
}

.price-cards {
    display: flex;
    justify-content: center;
    margin-top: 79px;
}

.price-card {
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33%;
    border: 1px solid #ccd5df;
    border-radius: 4px;
    min-height: 442px;
    color: #818b95;
    transition: all 0.3s ease-in;

    padding: 40px 0;

    &__price {
        margin-top: 30px;
        color: #818b95;
        transition: all 0.3s ease-in;
    }

    &__title {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__btn {
        margin-top: 35px;
        padding: 14px 25px;
    }
    &:hover {
        background-color: #709dca;
        color: #fff;
        transform: scale(1.115);
        z-index: 999;
    }

    &:hover .price-card__price > * {
        color: #fff;
        transform: scale(1);
    }
}

.price-per {
    text-transform: uppercase;
    color: #818b95;
    font-size: 15px;
    margin-top: 9px;
    font-weight: 300;
    transition: 0.3s all ease-in;
}

.price-main {
    text-align: center;
    font-size: 60px;
    transition: 0.3s all ease-in;
    font-weight: 700;
    color: #ffbb42;
    text-transform: uppercase;
    position: relative;
    &::before {
        content: "$";
        font-size: 30px;
        position: absolute;
        font-weight: 900;
        top: 0;
        left: -5px;
    }
}

.price-card-benefits {
    margin-top: 52px;
}

.benefits_title {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 32px;
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 190%;
        height: 2px;
        background-color: #e2e9f0;
        position: absolute;
        left: 50%;
        top: -16px;
        transform: translateX(-50%);
    }
    &:first-child {
        margin-top: 0;
    }
}
