.steps {
    min-height: 860px;
    padding: 150px 0;
    text-align: center;

    &-title {
        &__title {
            font-size: 29px;
            font-weight: 900;
            color: #394b50;
            text-transform: uppercase;
        }

        &__subtitle {
            margin-top: 5px;
            color: #394b50;
            font-size: 18px;
        }
    }

    &-btn {
        margin-top: 91px;
        padding: 18px 28px;
    }

    &-cards {
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &-card {
        // width: 25%;
        flex: 0 1 25%;
        min-height: 267px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__image {
            width: 80px;
            height: 80px;
        }

        &__text {
            margin-top: 98px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__title {
            text-transform: uppercase;
            font-size: 20px;
            color: #394b50;
        }
        &__subtitle {
            text-align: center;
            width: 213px;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            color: #7b7b7b;
            margin-top: 28px;
        }

        position: relative;

        &__topline {
            position: absolute;
            img {
                width: 128px;
                height: 33px;
            }

            top: -12%;
            left: 78%;
        }

        &__bottomline {
            position: absolute;
            img {
                width: 128px;
                height: 33px;
            }

            top: 20%;
            left: 78%;
        }
    }
}
