body {
  font-family: "Lato", sans-serif; }

.button {
  padding: 18px 43px;
  color: #ffffff;
  font-size: 14px;
  border: none;
  background-color: #ffbb42;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px; }

* {
  box-sizing: border-box; }

li {
  text-decoration: none;
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 1160px;
  margin: 0 auto; }

.header {
  padding: 22px 0; }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.menu-links {
  display: flex; }
.menu-link {
  padding: 8px 15px;
  transition: all 0.3s ease; }
  .menu-link a {
    font-weight: 700;
    font-size: 14px;
    color: #868686;
    text-transform: uppercase;
    transition: all 0.3s ease; }
.menu-link:hover {
  background-color: #ffbb42;
  border-radius: 5px; }
  .menu-link:hover a {
    color: #fff; }

.main {
  background-color: #709dca;
  min-height: 590px;
  padding: 110px 0 0 0; }
  .main-wrapper {
    text-align: center; }
  .main-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 38px;
    font-weight: 900; }
  .main-subtitle {
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 300; }
  .main-form {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-form__input {
      padding: 18px 0 18px 41px;
      width: 281px;
      border: none;
      border-radius: 2px;
      color: #a9a9a9;
      font-size: 13px;
      margin-right: 10px; }

.input-block {
  position: relative; }

.main-form__input::placeholder {
  opacity: 0.5; }

.fa-input {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #6e6e6e; }

.main-wrapper {
  position: relative; }

.main-img {
  position: absolute;
  left: 50%;
  top: 220px;
  transform: translate(-50%, 0); }

.services {
  padding: 203px 0 155px 0;
  min-height: 925px;
  text-align: center; }
  .services-title {
    font-size: 30px;
    font-weight: 900;
    color: #394b50;
    text-transform: uppercase; }
  .services-subtitle {
    margin-top: 5px;
    font-size: 16px;
    color: #394b50; }
  .services-items {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-top: 93px;
    justify-content: space-between;
    align-items: space-around;
    min-height: 450px; }
  .services-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .services-item__icon {
      margin-right: 32px; }
    .services-item__title {
      text-transform: uppercase;
      color: #394b50;
      font-size: 16px;
      font-weight: 700; }
    .services-item__subtitle {
      width: 430px;
      margin-top: 21px;
      font-size: 13px;
      font-weight: 400;
      color: #7b7b7b;
      line-height: 22px; }

.about {
  background-color: #ffc155;
  display: flex;
  flex: 0 1 50%; }
  .about-img {
    width: 50%; }
    .about-img img {
      height: 623px;
      width: 100%; }
  .about-text {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .about-title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff; }
  .about-subtitle {
    margin-top: 20px;
    width: 505px;
    color: #ffffff;
    line-height: 28px;
    font-size: 15px;
    font-weight: 300; }
  .about-btn {
    text-transform: uppercase;
    border: 1px solid #e7ad48;
    padding: 13px 30px;
    margin-top: 33px; }

.price {
  min-height: 800px;
  padding: 137px 0 150px 0;
  background-color: #e7edf3; }
  .price-title {
    color: #394b50;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase; }
  .price-subtitle {
    margin-top: 5px;
    color: #75888d;
    font-size: 15px; }
  .price-wrapper {
    text-align: center; }

.price-cards {
  display: flex;
  justify-content: center;
  margin-top: 79px; }

.price-card {
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33%;
  border: 1px solid #ccd5df;
  border-radius: 4px;
  min-height: 442px;
  color: #818b95;
  transition: all 0.3s ease-in;
  padding: 40px 0; }
  .price-card__price {
    margin-top: 30px;
    color: #818b95;
    transition: all 0.3s ease-in; }
  .price-card__title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300; }
  .price-card__btn {
    margin-top: 35px;
    padding: 14px 25px; }
  .price-card:hover {
    background-color: #709dca;
    color: #fff;
    transform: scale(1.115);
    z-index: 999; }
  .price-card:hover .price-card__price > * {
    color: #fff;
    transform: scale(1); }

.price-per {
  text-transform: uppercase;
  color: #818b95;
  font-size: 15px;
  margin-top: 9px;
  font-weight: 300;
  transition: 0.3s all ease-in; }

.price-main {
  text-align: center;
  font-size: 60px;
  transition: 0.3s all ease-in;
  font-weight: 700;
  color: #ffbb42;
  text-transform: uppercase;
  position: relative; }
  .price-main::before {
    content: "$";
    font-size: 30px;
    position: absolute;
    font-weight: 900;
    top: 0;
    left: -5px; }

.price-card-benefits {
  margin-top: 52px; }

.benefits_title {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 32px;
  position: relative; }
  .benefits_title::before {
    content: "";
    display: block;
    width: 190%;
    height: 2px;
    background-color: #e2e9f0;
    position: absolute;
    left: 50%;
    top: -16px;
    transform: translateX(-50%); }
  .benefits_title:first-child {
    margin-top: 0; }

.steps {
  min-height: 860px;
  padding: 150px 0;
  text-align: center; }
  .steps-title__title {
    font-size: 29px;
    font-weight: 900;
    color: #394b50;
    text-transform: uppercase; }
  .steps-title__subtitle {
    margin-top: 5px;
    color: #394b50;
    font-size: 18px; }
  .steps-cards {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .steps-card {
    flex: 0 1 25%;
    min-height: 267px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative; }
    .steps-card__image {
      width: 80px;
      height: 80px; }
    .steps-card__text {
      margin-top: 98px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .steps-card__title {
      text-transform: uppercase;
      font-size: 20px;
      color: #394b50; }
    .steps-card__subtitle {
      text-align: center;
      width: 213px;
      font-size: 13px;
      line-height: 22px;
      font-weight: 400;
      color: #7b7b7b;
      margin-top: 28px; }
    .steps-card__topline {
      position: absolute;
      top: -12%;
      left: 78%; }
      .steps-card__topline img {
        width: 128px;
        height: 33px; }
    .steps-card__bottomline {
      position: absolute;
      top: 20%;
      left: 78%; }
      .steps-card__bottomline img {
        width: 128px;
        height: 33px; }

/*# sourceMappingURL=style.css.map */
